body, html{
  width: 100%;
}
#input-area {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
}
#m {
  font-size: 1.2em;
  height: 100%;
  width: 90%;
}
#send-btn {
  font-size: 1.2em;
  height: 100%;
  width: 9%;
}
li {
  list-style-type: none;
  max-width: 75%;
  margin-bottom: 1.5px;
}
