body, html{
  width: 100%;
  margin:0;
}

#connecting{
  width: 100%;
  display: inline-block;
  text-align: center;
}

#get-username{
  width: 100%;
  display: inline-block;
  text-align: center;
}

#input-area {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
}
#m {
  font-size: 1.2em;
  height: 100%;
  width: 90%;
}
#send-btn {
  font-size: 1.2em;
  height: 100%;
  width: 9%;
}
li {
  list-style-type: none;
}
